*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  /* Colors - site colors */
  --transparent: transparent;
  --offwhite: hsl(20, 50%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(14, 65%, 9%);
  --primary: hsl(14, 86%, 42%);
  --secondary: hsl(12, 20%, 44%);

  /* Font sizes */
  --10px: 0.625rem; /*xxs*/
  --12px: 0.75rem; /*xs*/
  --14px: 0.875rem; /*s*/
  --16px: 1rem; /*m*/
  --24px: 1.5rem; /*xl*/
  --40px: 2.5rem; /*4xl*/

  --text-xxs: clamp(0.7rem, -0.22vw + 0.75rem, 0.58rem);
  --text-xs: clamp(0.79rem, -0.17vw + 0.82rem, 0.69rem);
  --text-s: clamp(0.89rem, -0.1vw + 0.91rem, 0.83rem);
  --text-m: clamp(1rem, 0vw + 1rem, 1rem);
  --text-l: clamp(1.13rem, 0.13vw + 1.1rem, 1.2rem);
  --text-xl: clamp(1.27rem, 0.31vw + 1.2rem, 1.44rem);
  --text-xxl: clamp(1.42rem, 0.54vw + 1.32rem, 1.73rem);
  --text-3xl: clamp(1.6rem, 0.84vw + 1.43rem, 2.07rem);
  --text-4xl: clamp(1.8rem, 1.22vw + 1.56rem, 2.49rem);

  --h6: clamp(0.8rem, 0.45vw + 0.71rem, 1.06rem);
  --h5: clamp(1rem, 0.72vw + 0.86rem, 1.41rem);
  --h4: clamp(1.25rem, 1.11vw + 1.03rem, 1.88rem);
  --h3: clamp(1.56rem, 1.67vw + 1.23rem, 2.5rem);
  --h2: clamp(1.95rem, 2.46vw + 1.46rem, 3.33rem);
  --h1: clamp(2.44rem, 3.56vw + 1.73rem, 4.44rem);
  --title: clamp(3.05rem, 5.11vw + 2.03rem, 5.92rem);
  --h-xl: clamp(5.96rem, 14.36vw + 3.09rem, 14.02rem);

  /* 
  FONTS:
  var(--font-helvetica);
  var(--font-montserratSemi);
  var(--font-montserratReg);
  var(--font-montserratBold); 
  */

  /* Breakpoints
  480px: 30rem;
  768px: 48rem;
  992px: 62rem; Mobile Nav Breakpoint
  1024px: 64rem;
  1200px: 75rem;
  1280px: 80rem; */
}

body {
  background-color: var(--offwhite);
}
